<!DOCTYPE html>
<html lang="en">
<meta>
<meta charset="UTF-8">
<title>Templates in Vue.js</title>
</meta>

<body>

    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
        <!-- v-model directive that makes two-way binding between form input and app state  -->
        <ol>
            <!--
      Ee provide each todo-item with the todo object
      it's representing, so that its content can be dynamic.
      We also need to provide each component with a "key".
    -->
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.min.js">
    </script>

    <script>
            // Define a new component called todo-item
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        })
        
        new Vue({
            el: '#app-6',
            data: {
                message: 'Message',
                groceryList: [
                    { id: 0, text: 'Vegetables' },
                    { id: 1, text: 'Cheese' },
                    { id: 2, text: 'Whatever' }
                ]
            }
        });

    </script>

</body>

</html>
